{
    "sources": [
        {
            "name": "CustomUserControlled",
            "comment": "use to annotate user input"
        }
    ],
    "sinks": [
        {
            "name": "CodeExecution",
            "comment": "use to annotate execution of python code"
        },
        {
            "name": "sast_server_side_template_injection",
            "comment": "server side template injection"
        },
        {
            "name": "sast_xml_injection",
            "comment": "xml injection"
        },
        {
            "name": "sast_setting_manipulation",
            "comment": "setting manipulation"
        },
        {
            "name": "sast_command_injection",
            "comment": "command injection"
        },
        {
            "name": "sast_dynamic_code_evaluation_unsafe_yaml_deserialization",
            "comment": "dynamic code evaluation unsafe yaml deserialization"
        },
        {
            "name": "sast_xxe_injection",
            "comment": "xxe injection"
        },
        {
            "name": "sast_header_manipulation",
            "comment": "header manipulation"
        },
        {
            "name": "sast_privacy_violation",
            "comment": "privacy violation"
        },
        {
            "name": "sast_xee_injection",
            "comment": "xee injection"
        },
        {
            "name": "sast_unsafe_reflection",
            "comment": "unsafe reflection"
        },
        {
            "name": "sast_path_manipulation",
            "comment": "path manipulation"
        },
        {
            "name": "sast_sql_injection",
            "comment": "sql injection"
        },
        {
            "name": "sast_system_information_leak_external",
            "comment": "system information leak external"
        },
        {
            "name": "sast_dynamic_code_evaluation_unsafe_pickle_deserialization",
            "comment": "dynamic code evaluation unsafe pickle deserialization"
        },
        {
            "name": "sast_password_management_weak_cryptography",
            "comment": "password management weak cryptography"
        },
        {
            "name": "sast_log_forging",
            "comment": "log forging"
        },
        {
            "name": "sast_header_manipulation_smtp",
            "comment": "header manipulation smtp"
        },
        {
            "name": "sast_system_information_leak_internal",
            "comment": "system information leak internal"
        },
        {
            "name": "sast_access_control_database",
            "comment": "access control database"
        },
        {
            "name": "sast_resource_injection",
            "comment": "resource injection"
        },
        {
            "name": "sast_connection_string_parameter_pollution",
            "comment": "connection string parameter pollution"
        },
        {
            "name": "sast_insecure_randomness_user_controlled_seed",
            "comment": "insecure randomness user controlled seed"
        },
        {
            "name": "sast_server_side_request_forgery",
            "comment": "server side request forgery"
        },
        {
            "name": "sast_denial_of_service_regular_expression",
            "comment": "denial of service regular expression"
        }
    ],
    "features": [],
    "rules": [
        {
            "name": "Possible RCE:",
            "code": 9000,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "CodeExecution"
            ],
            "message_format": "User specified data may reach a code execution sink"
        },
        {
            "name": "desc.dataflow.python.server_side_template_injection",
            "code": 9001,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_server_side_template_injection"
            ],
            "message_format": "server side template injection"
        },
        {
            "name": "desc.dataflow.python.xml_injection",
            "code": 9002,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_xml_injection"
            ],
            "message_format": "xml injection"
        },
        {
            "name": "desc.dataflow.python.setting_manipulation",
            "code": 9003,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_setting_manipulation"
            ],
            "message_format": "setting manipulation"
        },
        {
            "name": "desc.dataflow.python.command_injection",
            "code": 9004,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_command_injection"
            ],
            "message_format": "command injection"
        },
        {
            "name": "desc.dataflow.python.dynamic_code_evaluation_unsafe_yaml_deserialization",
            "code": 9005,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_dynamic_code_evaluation_unsafe_yaml_deserialization"
            ],
            "message_format": "dynamic code evaluation unsafe yaml deserialization"
        },
        {
            "name": "desc.dataflow.python.xxe_injection",
            "code": 9006,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_xxe_injection"
            ],
            "message_format": "xxe injection"
        },
        {
            "name": "desc.dataflow.python.header_manipulation",
            "code": 9007,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_header_manipulation"
            ],
            "message_format": "header manipulation"
        },
        {
            "name": "desc.dataflow.python.privacy_violation",
            "code": 9008,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_privacy_violation"
            ],
            "message_format": "privacy violation"
        },
        {
            "name": "desc.dataflow.python.xee_injection",
            "code": 9009,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_xee_injection"
            ],
            "message_format": "xee injection"
        },
        {
            "name": "desc.dataflow.python.unsafe_reflection",
            "code": 9010,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_unsafe_reflection"
            ],
            "message_format": "unsafe reflection"
        },
        {
            "name": "desc.dataflow.python.path_manipulation",
            "code": 9011,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_path_manipulation"
            ],
            "message_format": "path manipulation"
        },
        {
            "name": "desc.dataflow.python.sql_injection",
            "code": 9012,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_sql_injection"
            ],
            "message_format": "sql injection"
        },
        {
            "name": "desc.dataflow.python.system_information_leak_external",
            "code": 9013,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_system_information_leak_external"
            ],
            "message_format": "system information leak external"
        },
        {
            "name": "desc.dataflow.python.dynamic_code_evaluation_unsafe_pickle_deserialization",
            "code": 9014,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_dynamic_code_evaluation_unsafe_pickle_deserialization"
            ],
            "message_format": "dynamic code evaluation unsafe pickle deserialization"
        },
        {
            "name": "desc.dataflow.python.password_management_weak_cryptography",
            "code": 9015,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_password_management_weak_cryptography"
            ],
            "message_format": "password management weak cryptography"
        },
        {
            "name": "desc.dataflow.python.log_forging",
            "code": 9016,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_log_forging"
            ],
            "message_format": "log forging"
        },
        {
            "name": "desc.dataflow.python.header_manipulation_smtp",
            "code": 9017,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_header_manipulation_smtp"
            ],
            "message_format": "header manipulation smtp"
        },
        {
            "name": "desc.dataflow.python.system_information_leak_internal",
            "code": 9018,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_system_information_leak_internal"
            ],
            "message_format": "system information leak internal"
        },
        {
            "name": "desc.dataflow.python.access_control_database",
            "code": 9019,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_access_control_database"
            ],
            "message_format": "access control database"
        },
        {
            "name": "desc.dataflow.python.resource_injection",
            "code": 9020,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_resource_injection"
            ],
            "message_format": "resource injection"
        },
        {
            "name": "desc.dataflow.python.connection_string_parameter_pollution",
            "code": 9021,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_connection_string_parameter_pollution"
            ],
            "message_format": "connection string parameter pollution"
        },
        {
            "name": "desc.dataflow.python.insecure_randomness_user_controlled_seed",
            "code": 9022,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_insecure_randomness_user_controlled_seed"
            ],
            "message_format": "insecure randomness user controlled seed"
        },
        {
            "name": "desc.dataflow.python.server_side_request_forgery",
            "code": 9023,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_server_side_request_forgery"
            ],
            "message_format": "server side request forgery"
        },
        {
            "name": "desc.dataflow.python.denial_of_service_regular_expression",
            "code": 9024,
            "sources": [
                "CustomUserControlled"
            ],
            "sinks": [
                "sast_denial_of_service_regular_expression"
            ],
            "message_format": "denial of service regular expression"
        }
    ]
}